html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.container {
	color: white;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}

@font-face {
	font-family: font;
	src: url(../fonts/AmaticSC-Regular.ttf);
}

body {
	font-family: "Comic Sans MS";
	/* -webkit-animation: mymove 3s infinite alternate; */
	
	border-radius: 22px;
	/* border: 5px solid white; */
	color: #ffffff;
	background-color: #000000;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
}

body *, :not(*) {
	cursor: url(../img/cursorsmol.png), auto;
}

.social {
	border: 5px solid white;
}

img {
    position: relative;
}

.imgtest {
	/* border-radius: 25px;
	border: 5px solid white; */
	
	margin: -10px; /* ignore padding, ez fix */
	margin-top: -250px;
	pointer-events: none;
	z-index: 1;
	position: relative;
}

.invert {
	-webkit-filter: invert(1);
	filter: invert(1);
}

table {
	/* border: 5px solid white; */
	border-collapse: collapse;
	margin: 0 auto; /* or margin: 0 auto 0 auto */
}

td {
	border: 5px solid white;
	text-align: left;
	padding: 8px;
}

th {
	border: 5px solid white;
	text-align: right;
	padding: 8px;
}

* {
	box-sizing: border-box;
}

/* Style the header */
.header {
	padding: 20px;
	/* font-size: 35px; */
	
	border-radius: 15px 15px 0px 0px;
	/* border: 5px solid white; */
}

.headertwo {
	padding: 15px;
	font-size: 25px;
	
	/* border: 5px solid white; */
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: min-height; /* Should be removed. Only for demonstration */
	/* border: 5px solid white; */
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
.footer {
	padding: 10px;
	text-align: center;
	
	/* border: 5px solid white; */
	
	/* background-image: linear-gradient(red, orange, yellow, green, blue, indigo); */
}

.footertwo {
	padding: 10px;
	text-align: center;
	
	border-radius: 0px 0px 15px 15px;
	/* border: 5px solid white; */
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1024px) {
	.column {
		width: 100%;
	}
}

/* Chrome, Safari, Opera */

/* @-webkit-keyframes mymove {
0%		{background-color: red;}
20%		{background-color: orange;}
40%		{background-color: yellow;}
60%		{background-color: green;}
80%		{background-color: blue;}
100%		{background-color: indigo;}
} */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	overflow-y: auto;
	transition: 0.5s;
	padding-top: 92px;
}

.sidenav a {
	padding: 8px 8px 8px 38px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: black;
	background-color: white;
}

.navbutton {
	z-index: 3;
	position: fixed;
	font-size: 32px;
}

.hamburger-menu {
	padding-left: 10px;
	padding-right: 10px;
	z-index: 3;
	position: fixed;
	width: 69px;
}

.hamburger-menu:hover .line-1, .hamburger-menu:hover .line-2, .hamburger-menu:hover .line-3 {
	background-color: black;
}

.hamburger-menu:hover {
	background-color: white;
}
  
.line {
	width: 100%;
	height: 3px;
	background-color: white;
	display: block;
	margin: 15px 0;
	transition: all 0.3s ease-in-out;
}
  
.hamburger-menu.active .line-1 {
	transform: translateY(18px) rotate(45deg);
}

.hamburger-menu.active .line-2 {
	opacity: 0;
}

.hamburger-menu.active .line-3 {
	transform: translateY(-18px) rotate(-45deg);
}

.logo {
	text-align: center;
}

a {
	color: #fff;
}

/* FIXME: only selected <a> tags work */
a:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

.stats {
	color: white;
  	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bold;
	font-size: 25px;
	white-space: nowrap;
	border: 3px white solid; padding: 3px;
}

.stats2 {
	color: white;
  	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-weight: bold;
	white-space: nowrap;
	background-color: blueviolet;
}

.back {
	position: fixed;
	z-index: -1;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* item_tag=div+style%3D%22width%3A+300px%3B+display%3A+inline-block%3B%22 */

.rss2html-embed-item {
	/* width: 300px;
	display: inline-block; */
	border: white 3px dashed;
}

.c {
	display: flex;
	align-items: center;
	border: 3px white solid;
	text-align: left;
	padding: 8px;
}

img:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
  
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.track, .seemore {
	align-items: center;
	border: 3px white dashed;
	padding: 8px;
	margin: 8px;
}

.track {
	text-align: left;
}

.seemore {
	text-align: center;
}

.track:hover, .rss2html-embed-item:hover, .seemore:hover {
	border: 3px black dashed;
	background-color: white;
	color: black;
}

.track:hover a, .rss2html-embed-item:hover a {
	color: black;
}